# SPDX-FileCopyrightText: 2025 Chen Linxuan <me@black-desk.cn>
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Manage nftables according to cgroupv2
Documentation=https://github.com/black-desk/cgtproxy

[Service]
Type=simple
ExecStart=cgtproxy
CapabilityBoundingSet=CAP_NET_ADMIN
LimitNPROC=1

ProtectHome=yes
ProtectSystem=full
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ConfigurationDirectory=cgtproxy
ConfigurationDirectoryMode=0555
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes

[Install]
WantedBy=default.target
