name: Build and test go package

on: [pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
          cache: true
          cache-dependency-path: go/go.sum

      - name: Build & test (debug mode)
        run: |
          make GOTAGS=debug
          make GOTAGS=debug test

      - name: Build & test
        run: |
          make
          make test

      - name: Coverage report
        run: |
          export COVERAGE_REPORT=/tmp/io.github.black-desk.cgtproxy-test/coverage.txt &&
          echo '```' > $GITHUB_STEP_SUMMARY &&
          make COVERAGE_REPORT=$COVERAGE_REPORT test-coverage &&
          cat $COVERAGE_REPORT >> $GITHUB_STEP_SUMMARY &&
          echo '```' >> $GITHUB_STEP_SUMMARY
