name: Checks

on: [pull_request]

jobs:
  checks:
    name: Basic checks
    permissions:
      checks: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: black-desk/checks@master

  build-and-test:
    name: Build & test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: true
          cache-dependency-path: ${{github.workspace}}/go.sum

      - name: Upgrade
        run: |
          sudo apt update &&
          sudo apt install systemd util-linux

      - name: Build & test (debug mode)
        run: |
          make GO_TAGS=debug
          make GO_TAGS=debug test

      - name: Build & test
        run: |
          make
          make GO_COVERAGE_PROFILE=coverage.txt test

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pass:
    name: Pass
    if: always()
    needs:
      - checks
      - build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
